/* here we will have our global colors and fonts */

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary: #8FCDBA;
  --dark-green: #285943;
  --background: #FFF7EB;
  --text: #29332F;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", serif;
}

button,
input,
textarea,
select,
a,
p {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}